.menu-content {
    background-color: #f2f2f2;
    width: 45vh;
    min-height: 100vh;
    position: absolute;
}

.logo {
    width: 15rem;
    margin-top: -4rem;
}

.top-name{
    color: #195700;
    font: 1.4rem bolder;
    font-weight: 500;
    font-size: 1.2rem;
}

.top-points{
    color: #333333;
    font-size: 1.1rem;
    margin-top: -1rem;
}

.user-data {
    margin-top: -6rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.menu-icons {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.each-icon{
    transition-duration: 0.4s;
}

.each-icon:hover {
    /* background-color: #848484; */
    background-color: #195700;
    padding: 1rem;
    color: #efefef;
    transition: ease-in-out;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.2rem gray;
}

.search-bar {
    /* background-color: #195700; */
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 1.8rem;
    margin-right: 1rem;
    padding-top: 2rem;
}

.search-bar:hover {
    color: #195700;
    cursor: pointer;
}

.icon-spacing {
    padding-right: 0.5rem;
}