.points {
    margin-top: 5.5rem;
    margin-left: 1.2rem;
}

.points-color {
    color: #2e9d01;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

.tabs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-active {
    color: #195700;
    cursor: pointer;
    font-weight: 600;
}

.tabs-inactive p {
    color: #7e7e7e;
    cursor: pointer;
    font-weight: 600;
}

.tabs-inactive > div {
    visibility: hidden;
}

.my-image {
    width: 90%;
    margin: 0.5rem 1rem;
}
