.nav-position {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-icons {
    background-color: #fafafa;
    padding: 0.6rem 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.35rem;
    align-items: center;
    overflow: hidden;
    color: #303030;
    /* border-top: 0.02rem solid #288304; */
}

.home-icon{
    color: #288304;
    font-size: 1.4rem;
}

.cal-bigger {
    font-size: 1.55rem;
}

.mic-bigger {
    font-size: 1.6rem;
}

